<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Let's talk</h1>
    <section id="contactCon">      
        <div>
        <form action="data/contact.php" method="post">
        <label form="">Your mame</label>
        <input id ="name" type="text" name="name" placeholder="name">
        <img src="images/whiteline.png">
        </div>

        <div>
        
        <label form="">Your email</label>
        <input id ="email" type="text" name="email" placeholder="email">
        <img src="images/whiteline.png">
        </div>

        <div>
        <label form="">Your message</label>
        <input id ="message" type="text" name="message" placeholder="message">
        <img src="images/whiteline.png">
        </div>
        <div>
        <button type="submit"> Submit </button>
        </div>
        </form>
        </section>
</body>
</html>