<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="contact-page">
    {{!-- <h1>Let's talk</h1> --}}
    <section id="contactCon"> 
        <h1>Let's talk</h1>
        <form action="data/contact.php" method="post">  
        <div class="contact-text">    
        <label form="">Your mame</label>
        <input id="name" type="text" name="name" placeholder="Name">
        
        </div>

        <div class="contact-text">   
        <label form="">Your email</label>
        <input id="email" type="text" name="email" placeholder="Email">
        </div>

        <div class="contact-text">
        <label form="">Your message</label>
        {{!-- <input id ="message" type="text" required cols="50" rows="8" name="message" placeholder="Message">    --}}
        <textarea name="message" id="message" required cols="50" rows="8" placeholder="Message"></textarea>

       </div>
        <div id="submit-button">
        <button type="submit"> Submit </button>
        </div>
        </form>
        </section>
        <section id="contact-page-img">
            <img src="images/contact-img.png" alt="mail man image" class="alien-mail">
        </section>
        </div>
</body>
</html>