<pre>{{data}}</pre>

<div class="error-content">
<div class="error-text">
    
<h1 class="error-message">{{data.customMessage}}</h1>
<h3 class="error-show">{{data.status}}</h3>
<h4 class="error-show">{{data.message}}</h4>
<a href="/" class="back-home">Back to the earth!</a>
</div>
<img class="error-image" src="images/Error page.jpg">
</div>