<section id="hero-container">
<div class="hero">
    <h1>Hi!</h1>
    <h2>I'm Tien.</h2>
    <img id="whitesmallline" src="images/whiteline.png" alt="whiteline">
    <h3>Front-end Designer</h3>
    <img id="abimg" src="images/aboutme.png" alt="About me">
</div>
<img id="hero-img" src="images/cat.png" width="500" height="500">

</section>
<section id="aboutme">
    {{!-- <img src="images/aboutme.png" alt="About me"> --}}
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
</section>
<section id="graphic-designer">
    <img class="graphic-icon" src="images/graphic-icon.png" alt="Graphic design img">
    <h2>Graphic designer</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
    <img class="web-img" src="images/graphic-deisgn.png" alt="Website design img"> 
</section>

<section id="graphic-designer">
    <img class="graphic-icon" src="images/graphic-icon.png" alt="Graphic design img">
    <h2>Front-end Developer</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
    <img class="web-img" src="images/graphic-deisgn.png" alt="Website design img"> 
</section>

<section id="video">
    <h1>Get to know me</h1>
    <img class="video-im" src="images/video.png" alt="Website design img"> 
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
</section>


