<section id="hero-container">
<div>
<img id="hero-img" src="images/girl.png" width="400" height="500">
</div>
<div class="hero">
    <h1>Hi!</h1>
    <h2>I'm Tien.</h2>
    <img id="whitesmallline" src="images/whiteline.png" alt="whiteline">
    <h3>Front-end Designer</h3>
    <img id="abimg" src="images/aboutme.png" alt="About me">
</div>

</section>
<section id="aboutme">
    {{!-- <img src="images/aboutme.png" alt="About me"> --}}
    <p>I'm Tien. I'm a designer who codes. I have a passion for web design and I can speak many programming languages.
<br>
I also graduated from the University of Economic and have 2 years' experience in marketing and sales. I love to learn new things and always try to improve myself.
<br>
<br>
Fun fact about me:
I love to play online games. I broke my arm when I was 17. I play guitar and I love drawing using watercolor. You can see it on  <a href="https://tienle.home.blog.">my blog</a>
 </p>
</section>
<section id="graphic-designer1">
    <div class="graphic-text">
    <img id="pen-icon" src="images/graphic-icon.svg" alt="Graphic design img" width="40" height="40">
    <h2>Graphic designer</h2>
    <p>Photoshop, Illustrator are my favorite tools when I create a logo, posters or much graphic stuff. For website design, I use Adobe XD to create simple websites.
I love to work with Cinema4D and After Effect. Although the rendering part kills my Macbook every time, the final videos are very worth to wait! </p>
    </div>
    <img class="web-img1" src="images/graphic-deisgn.png" alt="Website design img" > 
</section>

<section id="graphic-designer2">
    <div class="graphic-text">
    <img id="code-icon" src="images/code-icon.svg" alt="Graphic design img" width="40" height="40">
    <h2>Front-end Developer</h2>
    <p>It's fantastic if the website I design can go live. I can work with HTML5, SCSS, PHP, Javascript and Nodejs. </p>
    </div>
    <img class="web-img2" src="images/web-developer.png" alt="Website design img"> 
    
</section>

<section id="video">
    <h1>My Demo Reel</h1>
     <iframe class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/cnIk6Zng4v8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
     </iframe>
{{!-- 
    <img class="video-im" src="images/video.png" alt="Website design img">  --}}
    <p>This is the combination of videos I've been made so far by using Cinema4D, After Effects and Premiere Pro </p>
</section>


