<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- css stuff -->
    <!-- link to reset -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/sp-icon.png">
    <link rel="stylesheet" href="css/main.css">
    <title>Tien Le Portfolio</title>
</head>

<body>
    <nav data-module="nav">
        <!-- nav elements must have nav-item -->
        <ul>
            <li><a href="#" class="nav-item">Home</a></li>
            <li><a href="/2" class="nav-item">Work</a></li>
            <li><a href="/3" class="nav-item">Contact me</a></li>
        </ul>
    </nav>

    <main>
        {{{ body }}}
    </main>

    <footer>
        <ul>
            <li><a href="#" class="nav-item">Home</a></li>
            <li><a href="/2" class="nav-item">About</a></li>
           <li><a href="/3" class="nav-item">Contact me</a></li>
        </ul>
    </footer>

    <a id="to-top" href="#" class="nav-item">Back to top</a>

    <script type="module" src="js/main.js"></script>

    
</body>

</html>