
.hero{
    display:flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    height:450px;
    background-color:$main-color;
    margin: 0 auto;

    h1,h2,h3{
    color:$mainfont-color;
    font-family:$main-font;
    // 
    }
    h1{margin-top:100px;}
    h1,h2{
        font-size:40px;  
        line-height: 30px;  
    }
    h3{
        font-size:14px;
        
    }

    #whitesmallline{
        width:100px;
        margin: 0 auto;
    }
    #abimg{
        width:150px;
        height:150px;
        justify-content: center;
        margin:0 auto;
        padding-top:100px;
    }
}
#hero-img{display:none;}
#aboutme{
    display: flex;
    text-align: center;
    
    p{
        font-family: $main-font;
        color:$main-color;
        margin-top:80px;
    }
}

#graphic-designer1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    .graphic-text{
        display:flex;
        flex-direction: column;    
    #pen-icon{
        padding-top:40px;
        margin: 0 auto;
    }
    h2{
        font-family: $main-font;
        color:#003300;
        font-size:30px;
        text-align: center;
    }
    p{
        font-family: $main-font;
        color:$main-color;
        text-align: center;
        padding: 10px;
    }
}
    .web-img1{
        width:300px;
        height:240px;
        padding:10px;
        margin: 0 auto;

    }

}
#graphic-designer2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    .graphic-text{
     display:flex;
     flex-direction: column;
     #code-icon{
        padding-top:40px;
        margin: 0 auto;
    }
    h2{
        font-family: $main-font;
        color:#003300;
        font-size:30px;
        text-align: center;
    }
    p{
        font-family: $main-font;
        color:$main-color;
        text-align: center;
        padding: 10px;
    }
}
    .web-img2{
        width:500px;
        height:400px;
        padding:10px;
        margin: 0 auto;

    }

}


#video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h1{
        font-family: $main-font;
        color:#003300;
        font-size:25px;
        text-align: center;
        margin-top:40px;
    }
    
    
    p{
        font-family: $main-font;
        color:$main-color;
        text-align: center;
        padding: 10px;
    }
    .video-im{
        width:200px;
        height:160px;
        background-color:black;
        padding:10px;
        margin: 0 auto;
    }
    .youtube-video{
        margin: 0 auto;
        width:80%;

    }
}


// DESKTOP VERSION//

@media screen and (min-width: 1024px){
    #hero-container{
        display: flex;
        flex-direction: row;
        background-color:$main-color;
    }
    #hero-img{
        display:flex;
        padding-left:190px;
        margin: 0 auto;
        z-index: 1;
        position: absolute;
        padding-top:50px;
        
        
    }

    .hero{
        display:flex;
        flex-direction:column;      
        margin: 0 auto;
        height:450px;
        background-color:$main-color;
        padding-left:550px;
        
    
        h1,h2,h3{
        color:$mainfont-color;
        font-family:$main-font;
        
        }
        h1{
            padding-top:150px;
        }
        h2{
            
        }
        h3{
            line-height: 10px;
        }

        #whitesmallline{
            width:100px;
            margin: 0 auto;
        }
        #abimg{
            width:250px;
            height:250px;
            padding-top:30px;
        }
    }
    #aboutme{
        display:flex;
        font-size:21px;
        width: 700px;
        padding-left:80px;
        padding-top:80px;
        font-family: Arial, sans-serif;

    }


    #graphic-designer1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top:50px;

        :hover{
            background-color:$mainfont-color;
            
        }
        .web-img1{
            width:500px;
            height:360px;
            padding:100px;
            padding-top:60px;
            margin: 0 auto;
            -webkit-animation-name: fadeRight; /* Safari 4.0 - 8.0 */
            -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
            animation-name: fadeRight;
            animation-duration: 4s ;
           
        }
        @-webkit-keyframes fadeRight {
            from {
                opacity: 0;
                -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
              }
            
              to {
                opacity: 1;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
              }
          }
          
          /* Standard syntax */
          @keyframes fadeRight {
            from {
                opacity: 0;
                -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
              }
            
              to {
                opacity: 1;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
              }
          }
        
          

    .graphic-text{
        width:700px;
        padding-left:50px;
        margin-top:50px;

        #pen-icon{
            padding-top:40px;
            margin: 0 auto;
            
        }
        h2{
            font-family: $main-font;
            color:#003300;
            font-size:45px;
            text-align: center;
        }
        p{
            font-family: $main-font;
            color:$main-color;
            text-align: center;
            font-size:20px;
            padding: 10px;
        }
    }
    
    }
    #graphic-designer2{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin-top:50px;
        
        :hover{
            background-color: $mainfont-color;
        }
        .graphic-icon{
            padding-top:40px;
            width:60px;
            height:60px;
            margin: 0 auto;
        }
        h2{
            font-family: $main-font;
            color:#003300;
            font-size:45px;
            text-align: center;
        }
        p{
            font-family: $main-font;
            color:$main-color;
            text-align: center;
            font-size:20px;
            padding: 10px;
        }
        .web-img2{
            width:800px;
            height:560px;
            padding:30px;
            padding-top:60px;
            margin: 0 auto;
            -webkit-animation-name: fadeleft; /* Safari 4.0 - 8.0 */
            -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
            animation-name: fadeleft;
            animation-duration: 4s;

        }
        @-webkit-keyframes fadeleft {
            from {
                opacity: 0;
                -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
              }
            
              to {
                opacity: 1;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
              }
          }
          
          /* Standard syntax */
          @keyframes fadeleft {
            from {
                opacity: 0;
                -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
              }
            
              to {
                opacity: 1;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
              }
          }


    .graphic-text{
        width:700px;
        padding-right:50px;
        margin-top:50px;
    }
    
    }
    #video{
    .youtube-video{
        margin: 0 auto;
        width:1000px;
        height:700px;

    }
}
    

}