
#work-green{
    display:flex;
    height:300px;
    background-color:$main-color;
    justify-content: center;

    h1{
        color:$mainfont-color;
    }
}
.hero-work{
    display:flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    img{
        width:70px;
        margin-bottom:50px;
        justify-content: center;
        position: absolute;
        top:400px;
        left:40%;
    }
    #intro-work{
        margin:0 auto;
        text-align: center;
        height:100px;
        padding-bottom:50px;
        padding-top:100px;
        h5{
            font-family: $main-font;
            color:$main-color;
        }
    }

}
// #pencil{
//     width:80px;
//     height:80px;
//     position: absolute;
// }
#project{
//    background: url("../images/cool-background.png");
#gradient
{
  width: 100%;
  height: 800px;
  padding: 0px;
  margin: 0px;
}
    .each-project{
        display:flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        text-align: center;
        
    img{
        width:100%;
        height: auto;
        z-index:1;

    }
  
    .work-panel{
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        z-index: 1;
    }
    h2{
        font-family: $main-font;
        position: relative;
        font-size:20px;
        bottom:140px;
    }
    h3{
        font-family: $main-font;
        color: white;
        font-size:14px;
        position: relative;
        
        bottom:155px;
    }
    p{
        display:none;
        font-family: $main-font;
        font-size:12px;
        position: absolute;
        bottom: 10px;
        padding:20px;
    }
    .seemore-button{
        font-family: $main-font;
        font-size:12px;
        border:1px solid white;
        width:80px;
        height:20px;
        justify-content: center;
        position: relative;
        bottom: 150px;
        left: 50%;
        margin-left: -50px;
        
    }
    a{
        text-decoration: none;
        color:black;
        padding:3px;
        justify-content: center;
        text-align: center;
        padding-top:5px;
    }
}
}
@media screen and (min-width: 768px){
    #work-green{
        display:flex;
        height:600px;
        background-color:$main-color;
        justify-content: center;
    
        h1{
            color:$mainfont-color;
            padding-top:200px;
            font-size:50px;
        }
    }
    .hero-work{
        display:flex;
        flex-direction:column;
        justify-content: center;
        text-align: center;
        img{
            padding-top:300px;
            left:45%;
        }
        #intro-work{
            margin:0 auto;
            text-align: center;
            height:600px;
            padding-bottom:50px;
            padding-top:300px;
            h5{
                font-family: $main-font;
                color:$main-color;
                font-size:30px;
            }
        }
    
    }
        #project{
            animation: pulse 25s infinite;
            @keyframes pulse {
                0% {
                  background-color: #e8b981;
                }
                20%{
                    background-color:#b5e5d5;
                }
                40%{
                    background-color:#d7898b;
                }
                60%{
                    background-color:#83cbc0;
                }
                80%{
                    background-color:#4d8da6;
                }
                100% {
                  background-color: $mainfont-color;
                }
              }
              
              html,
              body {
                height: 100%;
              }
                .each-project{
                    display:flex;
                    flex-direction: column;
                    position: relative;
                    justify-content: center;
                    text-align: center;
                    
                img{
                    width:100%;
                    height: auto;
                    z-index:1;
            
                }
              
                .work-panel{
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    z-index: 1;
 
                h2{
                    font-family: $main-font;
                    position: relative;
                    font-size:32px;
                    bottom:300px;
                    color: #28382e;
                }
                h3{
                    font-family: $main-font;
                    color: white;
                    font-size:24px;
                    position: relative;
                    bottom:335px;
                }
                p{
                    display:flex;
                    font-family: $main-font;
                    font-size:15px;
                    color:#28382e;
                    position: relative;
                    bottom: 400px;
                    padding:50px;
                    line-height: 20px;
                }
                .seemore-button{
                    font-family: $main-font;
                    display:flex;
                    font-size:20px;
                    border:2px dashed white;
                    width:150px;
                    height:30px;
                    position: relative;
                    bottom: 430px;
                    left:46%;                    
                }
                a{
                    // text-decoration: none;
                    color:#28382e;
                }
            }
            }
            }

}


@media screen and (min-width: 1024px){

    #work-green{
        display:flex;
        height:600px;
        background-color:$main-color;
        justify-content: center;
    
        h1{
            color:$mainfont-color;
            padding-top:200px;
            font-size:50px;
        }
    }
    .hero-work{
        display:flex;
        flex-direction:column;
        justify-content: center;
        text-align: center;
        img{
            padding-top:300px;
            left:48%;
        }
        #intro-work{
            margin:0 auto;
            text-align: center;
            height:600px;
            padding-bottom:50px;
            padding-top:300px;
            -webkit-animation-name: fadeInUp;
            animation-name: fadeInUp;

            @-webkit-keyframes fadeInUp {
                from {
                  opacity: 0;
                  -webkit-transform: translate3d(0, 100%, 0);
                  transform: translate3d(0, 100%, 0);
                }
              
                to {
                  opacity: 1;
                  -webkit-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0);
                }
              }
              
              @keyframes fadeInUp {
                from {
                  opacity: 0;
                  -webkit-transform: translate3d(0, 100%, 0);
                  transform: translate3d(0, 100%, 0);
                }
              
                to {
                  opacity: 1;
                  -webkit-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0);
                }
              }
            h5{
                font-family: $main-font;
                color:$main-color;
                font-size:30px;
            }
        }
    
    }
        #project{
            #gradient
            {
              width: 100%;
              height: 800px;
              padding: 0px;
              margin: 0px;
            }
                .each-project{
                    display:flex;
                    flex-direction: column;
                    position: relative;
                    justify-content: center;
                    text-align: center;
                    
                img{
                    width:100%;
                    height: auto;
                    z-index:1;
            
                }
              
                .work-panel{
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    z-index: 1;
 
                h2{
                    font-family: $main-font;
                    position: relative;
                    font-size:42px;
                    bottom:580px;
                    color: #28382e;
                }
                h3{
                    font-family: $main-font;
                    color: white;
                    font-size:24px;
                    position: relative;
                    bottom:575px;
                }
                p{
                    display:flex;
                    font-family: $main-font;
                    font-size:24px;
                    color:#28382e;
                    position: relative;
                    bottom: 590px;
                    padding:50px;
                    line-height: 60px;
                }
                .seemore-button{
                    font-family: $main-font;
                    display:flex;
                    font-size:32px;
                    border:2px dashed white;
                    width:220px;
                    height:50px;
                    position: relative;
                    bottom: 650px;
                    left:46%;                    
                }
                a{
                    // text-decoration: none;
                    color:#28382e;
                }
            }
            }
            }

}


