
#work-green{
    display:flex;
    height:300px;
    background-color:$main-color;
    justify-content: center;

    h1{
        color:$mainfont-color;
    }
}
.hero-work{
    display:flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    img{
        width:70px;
        margin-bottom:50px;
        justify-content: center;
        position: absolute;
        top:400px;
        left:40%;
    }
    #intro-work{
        margin:0 auto;
        text-align: center;
        height:100px;
        padding-bottom:50px;
        padding-top:100px;
        h5{
            font-family: $main-font;
            color:$main-color;
        }
    }

}
// #pencil{
//     width:80px;
//     height:80px;
//     position: absolute;
// }
#project{
//    background: url("../images/cool-background.png");
#gradient
{
  width: 100%;
  height: 800px;
  padding: 0px;
  margin: 0px;
}

    
    .each-project{
        display:flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        text-align: center;
        
    img{
        width:100%;
        height: auto;
        z-index:1;

    }
  
    .work-panel{
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        z-index: 1;
    //    position: absolute;


    }
    h2{
        font-family: $main-font;
        position: relative;
        font-size:20px;
        bottom:100px;
        // bottom:120px;
        // left: 23%;
        // margin-left: -35px;
        // padding:10px;
    }
    h3{
        font-family: $main-font;
        color: white;
        font-size:14px;
        position: relative;
        
        bottom:120px;
        // left: 50%;
        // margin-left: -50px;
    }
    p{
        display:none;
        font-family: $main-font;
        font-size:12px;
        position: absolute;
        bottom: 10px;
        padding:20px;
    }
    .seemore-button{
        font-family: $main-font;
        font-size:12px;
        border:1px solid white;
        width:80px;
        height:20px;
        justify-content: center;
        position: relative;
        bottom: 130px;
        left: 50%;
        margin-left: -50px;
        
    }
    a{
        text-decoration: none;
        color:black;
        padding:3px;
        justify-content: center;
        text-align: center;
        padding-top:5px;
    }
}
}